@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --gradient-opacity: 0.8;
  --primary-color: rgba(158, 117, 240, var(--gradient-opacity));
  --secondary-color: rgba(138, 43, 226, var(--gradient-opacity));
  --accent-color: rgba(128, 59, 239, var(--gradient-opacity));
  // --primary-color: rgba(147, 112, 219, var(--gradient-opacity));
  // --secondary-color: rgba(138, 43, 226, var(--gradient-opacity));
  // --accent-color: rgba(180, 170, 220, var(--gradient-opacity));
  --header-height: 64px; // Adjust based on your actual header height
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; // Prevent body scrolling
  height: 100vh;
}

.MainLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.HeaderContainer {
  position: sticky;
  top: 0;
  z-index: 10;
  flex-shrink: 0;
  height: var(--header-height);
}

.ContentContainer {
  flex: 1;
  overflow: hidden; // Let the children handle their own scrolling
  position: relative;
  height: calc(100vh - var(--header-height));
}
